.main {
    background: url('https://e0.pxfuel.com/wallpapers/655/814/desktop-wallpaper-dark-web-dark-developer.jpg');
    height:100vh;
}
.outlet{
    height: 80vh;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    .main {
        background: url('https://e0.pxfuel.com/wallpapers/655/814/desktop-wallpaper-dark-web-dark-developer.jpg');
        background-size: contain;
    }
}